%nav(class="navbar navbar-default")
  %div(class="container-fluid")
    %div(class="navbar-header")
      %a(class="navbar-brand")Cost Splitter
    %ul(class="nav navbar-nav")
      %li
        %a(href="/people") People
      %li
        %a(href="/expenses") Expenses
